@import "../../../styles/variables";

@mixin image-mixin($width-max, $height-max) {
  max-width: $width-max;
  max-height: $height-max;
}

// Default Class for Images
.image-wrapper {
  width: 100%;
  height: 100%;
  @include image-mixin(200px, 150px);
  object-fit: contain;

  @media screen and (min-width: $mobile-breakpoint) {
    @include image-mixin(160px, 120px);
  }
}
