@import '../../../styles/variables';

.footer {
    min-height: 5vh;
    background-color: $secondary-color;
    display: flex;

    &__text{
        color: $text-color;
        font-size: $text-font-size;
        margin-left: 10%;
        padding-top: 10px;

        @media (max-width: $breakpoint-mobile){
            font-size: 0.7rem;
        }
    }
}