input{
    padding: 0.35em 0;
    display: block;
    width: 90%;
    border: none;
    border-bottom: 2px solid rgb(173,168,165);
    outline: 0;
    
    margin-bottom: 1.5em;
    // &:hover{
    //     border: none;
    //     border-bottom: 1px solid rgb(173,168,165);
    // }
    &:focus{
        border: none;
        border-bottom: 2px solid rgb(53, 202, 239);
        // padding: 1em 0;
        
    }

}