.button {
  display: block;
  border-radius: 3px;
  text-align: center;
  font-size: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #eee;
  background-color: #d42559;
  color: #fff;
  cursor: pointer;
  position: relative;
}
